###> symfony/framework-bundle ###
# Fichiers d'environnement sensibles
.env.local
/.env.local.php
/.env.*.local
.env.dev

# Fichiers de secrets symfony
/config/secrets/prod/prod.decrypt.private.php

# Dossiers générés
/public/bundles/
var/
vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
# Dossier des modules npm
/node_modules/

# Dossier de build de Webpack Encore
/public/build/
/public/img/

# Logs d'erreurs npm et yarn
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# IDE
/.idea/
/.vscode/

# Fichiers générés par Composer
/composer.lock
/.composer/

# Dossier pour les archives zip générées par Symfony
/.symfony.*

# Cache et logs Symfony
/var/cache/
/var/logs/
