<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header_section">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <div class="custom_menu-btn">
                    <button onclick="openNav()">
                    <span class="s-1"> </span>
                    <span class="s-2"> </span>
                    <span class="s-3"> </span>
                    </button>
                </div>
                <div id="myNav" class="overlay">
                    <div class="menu_btn-style ">
                    <button onclick="closeNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                    </button>
                    </div>
                    <div class="overlay-content">
                    <a class="active" href="index.html">
                        Accueil
                    </a>
                    <a class="" href="#">
                        Blog
                    </a>
                    <a class="" href="#">
                        Gallerie
                    </a>
                    {% if app.user %}
                        <a class="" href="#">
                            Back-office
                        </a>
                    {% endif %}
                    </div>
                </div>
                <a class="navbar-brand" href="{{path('app_index')}}">
                    <img src="{{asset('img/logo/Logo.png')}}" class="w-50"></img>
                </a>
            </nav>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
